/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;

}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

header {
    text-align: left;
    font-size: 32px;
    padding: 20px;
}

.window{
    max-width: 40%;
    height: auto;
    margin: 24px 24px;
    position: relative;
    float: left;
}

.window-body li{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.window img{
    position: relative;
    padding: 24px 24px;
    max-width: 80%;
    margin: auto;
}

.button{
    position: relative;
    text-align: center;
    padding-bottom: 24px;
    display:flex;
    flex-flow: column;
    width: 50%;
    margin: auto;
}

.button strong{
    position: relative;
    text-align: center;
    padding-bottom: 24px;
    display:flex;
    flex-flow: column;
    width: 60%;
    margin: auto;
}


.button-link{
    position: absolute;
    inset: 0;
    opacity: 0.2;
  }

/* Track Details Section */
#track-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Album Section */
.album {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.track-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    float: left;
    font-weight: bold;
    background-color: #2b20ff;
    margin-right: 10px;
    border-top: 4px solid #efefef;
    border-right: 4px solid #383838;
    border-bottom: 4px solid #656565;
    border-left: 4px solid #c7c7c7;
    border-radius: 0;
    padding: 12px 20px;
    background: #afafaf;

}


/* Move download-item inside track-item */
.track-item .download-item {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.track-item img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
}

audio {
    margin-top: 10px;
}

#play, #stop {
    display: inline-block;
    font-weight: bold;
    color: #2b20ff;
    margin-right: 10px;
    border-top: 4px solid #efefef;
    border-right: 4px solid #383838;
    border-bottom: 4px solid #656565;
    border-left: 4px solid #c7c7c7;
    border-radius: 0;
    padding: 12px 20px;
    background: #afafaf;
    margin-bottom: 10px; /* Add space between buttons and download links */
}

#play:hover, #stop:hover {
    background-color: #ddd;
}

/* Download Section */
.download-item a {
    display: inline-block;
    font-weight: bold;
    color: #2b20ff;
    margin-right: 10px;
    border-top: 4px solid #efefef;
    border-right: 4px solid #383838;
    border-bottom: 4px solid #656565;
    border-left: 4px solid #c7c7c7;
    border-radius: 0;
    padding: 12px 20px;
    background: #afafaf;
}

.download-item a:hover {
    background-color: #ccc;
}

/* Other Tracks Section */
.other-tracks {
    margin-top: 20px;
    padding-left: 0;
}

.other-tracks ul {
    padding: 0;
}

.other-tracks li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.other-tracks li audio {
    margin-right: 10px;
}

#play {
    margin-left: 10px;
}

/* Artist Section */
.artist {
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.artist-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.artist-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.donation {
    margin-top: 20px;
}

.donation ul {
    padding: 0;
}

.donation li {
    margin-bottom: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .album {
        flex-direction: column;
        align-items: center;
    }

    .track-item {
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        float: left;
        font-weight: bold;
        margin-right: 10px;
        border-top: 4px solid #efefef;
        border-right: 4px solid #383838;
        border-bottom: 4px solid #656565;
        border-left: 4px solid #c7c7c7;
        border-radius: 0;
        padding: 12px 20px;
        background: #afafaf;
    }

    .artist {
        flex-direction: column;
        text-align: center;
    }

    .download-item {
        width: 100%;
    }

    .artist-info {
        flex-direction: column;
        text-align: center;
    }

    .other-tracks {
        text-align: center;
    }
}
