/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0px 64px;
    padding: 0 20px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

/* Header */
header {
    color: #333;
    text-align: left;
    font-size: 20px;
    padding: 20px 0;
}

/* Track Section */

#track-details {
    padding: 0px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.track-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 40%;
    max-width: 800px;
    float: left;
}

.track-item img {
    max-width: 400px;
    border-radius: 10px;
    object-fit: cover;
    text-align: center;
    margin: auto;
    display: block;
    float: left;
}

.track-item p {
    font-size: 16px;
    margin: 10px 10px 10px;
}

.download-item a {
    display: inline-block;
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}



/* Artist Image */
.artist-info{
    width: 200px;
    float: left;
}

.artist img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.donation {
    float: left;
    width: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Index page styles */
#about ul, #track ul {
    list-style-type: none;
    padding: 0;
}

#about li {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 16px;
}

#track h2 {
    font-size: 24px;
    text-align: left;
    margin: 20px 0;
}

.track-item a {
    color: #0066cc;
    border-radius: 3px;
}

.track-item {
    float: left;
}


/* Responsive Design */
@media screen and (max-width: 1024px) {
    .track-item {
        flex-direction: column;
        text-align: center;
    }

    .track-item img {
        max-width: 250px;
    }

    .download-item a {
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 10px;
    }



    .track-item {
        flex-direction: column;
        text-align: center;
    }

    .track-item img {
        max-width: 200px;
    }

    .download-item a {
        display: block;
        margin: 10px 0;
    }

    .artist img {
        width: 80px;
        height: 80px;
    }
}
