/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0px 40px;
    padding: 0;
}


ul, li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    margin: 0 auto;
    padding: 0 20px; /* Padding for both left and right */
    max-width: 1200px; /* Limiting the width for larger screens */
}

/* Header */
header {
    color: #333;
    text-align: left;
    font-size: 24px;

}

/* Track Section */
#track-details {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.track-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.track-item p {
    font-size: 16px;
    margin-top: 10px;
}

.download-item a {
    display: inline-block;
    margin-right: 10px;
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.download-item a:hover {
    background-color: #003366;
}

/* Artist Image */

.artist {
    width: 100%;
    height: auto;
}

.artist img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    margin-bottom: -16px;

}


.artist-info {
    float: left;
    width: 20%;
    height: 160px;    
}

.donation {
    width: 80%;
    height: 160px;
    float: left;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative; /* Fixed footer replaced by relative to support smaller screens */
}

/* Index page styles */
#about ul, #track ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

#about li {
    margin-bottom: 10px;
    line-height: 2;
    font-size: 16px;
}

.track-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 40px;
    float: left;

}

.track-item img {
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
    display: block;
    object-fit: cover;
}

.track-item strong {
    font-size: 18px;
}

#track h2 {
    font-size: 24px;
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.track-item a {
    color: rgb(44, 44, 255);
    border-radius: 3px;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    .track-item {
        text-align: center;
        float: left;
    }

    #track-details {
        padding: 10px;
    }

    .download-item a {
        margin-bottom: 10px;
    }

    .track-item img {
        width: 400px;
        height: 400px;
        object-fit: contain;
    }
}


