/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;

}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  max-width: 50%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

header {
  text-align: left;
  font-size: 32px;
  padding: 20px;
}

.window{
  max-width: 40%;
  height: auto;
  margin: 24px 24px;
  position: relative;
  float: left;
}

.window-body li{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.window-body .select-wallet{
  font-size: 13px;
  color: blue;
} 

.connect-engrave-content{
  display:flex;
  justify-content: flex-start;
}

.connect-wallet{
  max-width: 50%;
}

.connect-button {

 margin: 16px;
}

.select-wallet:hover{
  text-decoration: underline;
  cursor: pointer;
}

.select-wallet ul{
  display: block;
}

.engrave-form{
  width: 50%;
}

.engrave-form-content{
  margin: 0 12px;
}

.engrave-input{
  margin-top: 16px;
  padding: 16px;
}

.engrave-button{
  margin: 8px 0;
}

.contributor-list{
  margin-left: 20px;
  margin-right: 20px;
}

.contributor{
  padding: 8px;
}


.contributor p{
  color: #2c3e50;
  font-Weight: bold;
  font-size: 16px;
}

.window img{
  position: relative;
  padding: 24px 24px;
  max-width: 80%;
  margin: auto;
}

.button{
  position: relative;
  text-align: center;
  padding-bottom: 24px;
  display:flex;
  flex-flow: column;
  width: 50%;
  margin: auto;
}

.button strong{
  position: relative;
  text-align: center;
  padding-bottom: 24px;
  display:flex;
  flex-flow: column;
  width: 60%;
  margin: auto;
}


.button-link{
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

/* Track Details Section */
#track-details {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 95%;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Album Section */
.album {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: center;
  font-weight: bold;
  background-color: #2b20ff;
  border-top: 4px solid #efefef;
  border-right: 4px solid #383838;
  border-bottom: 4px solid #656565;
  border-left: 4px solid #c7c7c7;
  border-radius: 0;
  padding: 32px 32px;
  background: #afafaf;

}

.track-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  font-weight: bold;
  margin-right: 24px;
  background-color: #2b20ff;
  border-top: 4px solid #efefef;
  border-right: 4px solid #383838;
  border-bottom: 4px solid #656565;
  border-left: 4px solid #c7c7c7;
  border-radius: 0;
  padding: 12px 32px;
  background: #afafaf;

}


/* Move download-item inside track-item */
.track-item .download-item {
  width: 100%;
  text-align: center;
}

.track-item img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  padding: 8px;
}

.track-item p{
  font-size: 1.5vw;
}

audio {
  margin-top: 10px;
}




#play:hover, #stop:hover {
  background-color: #ddd;
  cursor: pointer;

}

#play:active, #stop:active {
  background-color: #9d9d9d;
}

/* Download Section */
.download-item a {
  display: inline-block;
  width: 30%;
  font-weight: bold;
  color: #2b20ff;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-top: 4px solid #efefef;
  border-right: 4px solid #383838;
  border-bottom: 4px solid #656565;
  border-left: 4px solid #c7c7c7;
  border-radius: 0;
  padding: 8px 16px;
  background: #afafaf;
  font-size: 1.2vw;
}

.download-item a:hover {
  background-color: #ccc;
  cursor: pointer;
}

/* Other Tracks Section */
.other-tracks {
  margin-top: 20px;
  width: 40%;
  height: 100%;
  padding-left: 0;
  display: flex;
  flex-flow: column;

}

.other-tracks ul {
  position: relative;
  padding: 0;
  max-width: 100%;

}

.other-tracks li {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.4vw;
  padding: 5px;
  display: flex;
  justify-content: space-between;

}

.other-tracks p {
  position: relative;
  max-width: 60%;
  margin-right: 80px;
}


.other-tracks li audio {
  margin-right: 10px;
}


.play {
  position: relative;
  font-weight: bold;
  padding: 3px 3px;
  border-top: 4px solid #efefef;
  border-right: 4px solid #383838;
  border-bottom: 4px solid #656565;
  border-left: 4px solid #c7c7c7;
  border-radius: 0;
  background: #afafaf;
  margin-bottom: 10px; /* Add space between buttons and download links */
  cursor: pointer;
}

.play p{
  margin: 2px 20px;
  padding: 4px 4px;
  text-align: center;
  font-weight: bold;
  color: #2b20ff;
}



/* Artist Section */
.artist {
  position: relative;
  width: auto;
  padding-top: 20px;
}

.artist-info {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  display:flex;
  justify-content: center;
}

.artist-info img{
  margin-right: 8px;
}

.artist-name-donation{
position: relative;
width: 100%;
}

.artist-name-donation p{
  font-size: 1.3vw;
  margin: 0;
}

.donation ul, .donation li{
font-size: 1vw;
margin: 0;
padding: 0;
}

.donation{
  margin-top: 8px;
}

.artist-info img {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

@media screen and (max-width: 768px) {


  .window {
      position: relative;
      max-width: 100%;
      margin-top: 24px;
      margin-left: 16px;
      margin-right: 16px;
  }

  .logo {
      max-width: 80%;
  }

  #track-details {
      position: relative;
      width: 100%;
      padding: 0px;
      margin-top: 16px;
  }


  .album {
      position: relative;
      width: 90%;
      margin: 0px ;
      padding: 8px;
      display:flex;
      flex-flow: column;
  }

  .track-item {
    position: relative;
    width: 75%;
    margin: 16px;
    margin-top: 20px;
}

.track-item p{
  font-size: 3vw;
}


.other-tracks{
      margin: 0;
  }

  .other-tracks li, .other-tracks ul {
      margin: 0px;
  }


   p, a{
      font-size: 3vw}

  #play{
      font-size: 4vw;
  }

  
  .download-item a {
      position: relative;
      padding: 8px 16px;
      font-size: 2.5vw;
  }

  .other-tracks {
      position: relative;
      width: 80%;
      margin-top: 10px;
  }

  .play p{
      padding: 2px 12px;
      margin: 0.6vw 2vw;
  }
  .other-tracks #play{
      margin: 0 auto;
      padding: 0;
      margin: 12px 12px;
  }

  .artist {
      margin-top: 0px;
      margin-bottom: 40px;
      position: relative;
      width: 100%;
      display: flex;      
  }

  .artist-info {
      margin: 0 auto;
      position: relative;
      max-width: 100%;
      display:flex;
      justify-content: center;
  }

  .artist-name-donation{
    position: relative;
    width: 100%;
  }

  .artist-name-donation p, .donation ul, .donation li{
    width: 100%;
    font-size: 2.3vw;
    word-wrap: break-word;
  }
  .artist-info img {
      width: 16vw;
      height: 16vw;
  }

}